<main>
  <section class="section-banner">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            class="d-block w-100"
            src="../../assets/img/banner1.PNG"
            alt="Primeiro Slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100"
            src="../../assets/img/banner2.PNG"
            alt="Segundo Slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100"
            src="../../assets/img/banner3.PNG"
            alt="Terceiro Slide"
          />
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleControls"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleControls"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
  </section>
  
  
  
    <h2>JOGOS EM PROMOÇÃO</h2>

    <mat-grid-list cols="3">
      <mat-grid-tile>
        <mat-card class="example-card">
          <img
            mat-card-image
            src="../../assets/img/81AiAuaCcwL._AC_SX569_.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-header>
            <mat-card-title>Naruto Storm</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <p>Descrição</p>
          </mat-card-content>
          <mat-card-actions>
            <p>R$ 59,90</p>
            <button mat-button>Comprar</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card">
          <img
            mat-card-image
            src="../../assets/img/RE4-Remake-Ann_06-02-22-768x432.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-header>
            <mat-card-title>Resident Evil 4: Ramake</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <p>Descrição</p>
          </mat-card-content>
          <mat-card-actions>
            <p>R$ 105,90</p>
            <button mat-button>Comprar</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card">
          <img
            mat-card-image
            src="../../assets/img/270px-The_Elder_Scrolls_5_Skyrim_capa.png"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-header>
            <mat-card-title>The Ellder Scrolls 5: Skyrim</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <p>Descrição.</p>
          </mat-card-content>
          <mat-card-actions>
            <p>R$ 70,90</p>
            <button mat-button>Comprar</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
</main>
